/* body{
    background-color: rgba(18, 36, 25, 0.904);
}
.burn{
background-image: url(https://i.pinimg.com/originals/f9/6d/fb/f96dfb9f9d4e0b42af3888de8b9473a7.gif);
background-size: cover;
background-position: center;
color: transparent;
background-clip: text;
-webkit-background-clip: text;
text-align: center;
font-size: 100px;
} */
